@import url(./_place/logo_place_header.css);
@import url(./_place/logo_place_footer.css);

.logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}