@import url(./__heading/table__heading.css);
@import url(./__text/table__text.css);
@import url(./__cell/__cell.css);

.table {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}